@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Pacifico&family=Playfair+Display:ital@1&family=Poppins:wght@300;400&family=Roboto+Condensed:wght@300&family=Sofia+Sans:ital,wght@0,200;0,300;1,200&display=swap');

.body{
    background-color: rgba(31, 29, 43, 1);
    font-family: 'Poppins', sans-serif;
}


.colums{
    display: grid; 
    grid-template-columns: 300px 1fr; 
    margin: auto; 
}
.sidebar__title{
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    margin-top: 45px;
    margin-left: 40px;
    margin-bottom: 50px;
}


body{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-left: 16px;
}

.sidebar{
    width: 300px;
    height: auto;    
}
.sidebar__menu{
    width: 300px;
    height: auto;  
}
.menu__element{
    display: flex;
    width: auto;
    border-radius: 15px;
    border: none;
    height: auto; 
    align-items: center;
    cursor: pointer;
    margin-left: -7px;
    background-color: rgba(31, 29, 43, 1);
     
}
ul,li{
    margin: 0;
}

.element__text{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    margin-left: 16px;
}
.sidebar__icon{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 40px;
    height: 40px;
    background: #353440;
    border-radius: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.sidebar-list
{
  list-style: none;
}

.sidebar__icon__orange{
    background: #FF7551;
}

.element__text__gray{
    color: rgba(128, 129, 145, 1);
}
.sidebar__menu__text{
    margin-left: 32px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #808191;
    margin-left:40px;
}

.sidebar__line{
    margin-top: 48px;
    margin-left:40px;
    width: 220px;
    height: 1px;  
    background-color: rgba(52, 55, 60, 1)
}
.sidebar__CATEGORY{
    width: 300px;
    height: auto;  
}

.sidebar__CATEGORY__element{
    display: flex;
    width: auto;
    border-radius: 15px;
    border: none;
    height: auto; 
    align-items: center;
    cursor: pointer;
    margin-left: -7px;
    background-color: rgba(31, 29, 43, 1);
}

.sidebar__CATEGORY__text{
    font-weight: bold;
    color: #808191;
    font-family: 'Poppins', sans-serif;
    margin-left:40px;
    margin-top: 48px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}
.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:40px;
    margin-top: 48px;
}

.switch input {
    display: none;
}
  
.slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #FFF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color:#6C5ECF;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #6C5ECF;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.location_text{
    font-family: 'Poppins', sans-serif;
    color: #808191;
    margin-left: 80px;
    white-space: nowrap;
   
}
a{
    text-decoration: none;
}
.header
{
    display: flex;
    margin-top:20px ;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
}

form {
    display: flex;
    justify-content: center;
    position: relative;
    width: 650px;
    margin: 0 auto;
}

.search__location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px; 
    width:780px; 
}
.search {
    color: #fff;
    width: 625px;
    height: 40px;
    background: #353440;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 1em;
}
.search_button {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 5px;
    background: #353440;
    border: none;
    outline: none;
    cursor: pointer;
}
.search_button:before {
    content: url("photo/Group 2.svg");
    font-family: Poppins;
    color: #808191; 
    font-size: 18px;
    font-weight: bold;
}
.header__profile
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__search
{
    justify-content: flex-start;
}

.profile__text
{
    color: #fff;
    font-size: 15px;
}

.location_notification
{
    margin-left: 16px;
}

.profile_button
{
    background: none;
    border: 0;
    cursor: pointer;
}
.circle {
   border-radius: 50%;
  }